<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @grup.title %>
</p>

<p>
  <strong>Links:</strong>
  <%= @grup.links %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grup.description %>
</p>

<%= link_to 'Edit', edit_grup_path(@grup) %> |
<%= link_to 'Back', grups_path %>
